/*GLOBAL*/
.a-tag {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.a-tag:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
textarea {
    resize: none;
}
input[type=file] {
    cursor: pointer;
    width: 180px;
    height: 34px;
    overflow: hidden;
}

input[type=file]:before {
    width: 180px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    content: 'Додај слику';
    display: inline-block;
    background: white;
    border: 1px solid #000;
    padding: 0 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*FONTS*/
.font-14 {
    font-size: 14px;
}

/*FONT COLORS*/
.grey-font {
    color: #9e9e9e;
}

/*ADMIN NAVBAR*/
.custom-navbar {
    background:#fff !important;
    border-bottom: 1px solid #c0c0c0;
    -webkit-box-shadow: 0px 5px 15px -1px rgba(145,145,145,1);
    -moz-box-shadow: 0px 5px 15px -1px rgba(145,145,145,1);
    box-shadow: 0px 5px 15px -1px rgba(145,145,145,1);
}

/*LOGIN FORM*/
.login-form {
    margin-top: 40%;
}

/*NEWS*/
.custom-card {
    width: 100% !important;
}

.custom-card .image-container {
    max-height: 160px;
    min-height: 160px;
    max-width: 348px;
    overflow: hidden;
}

.custom-card .image-container img {
    height: auto;
    max-width: 100%;
    width: auto;
}

.custom-card .card-body {
    max-height: 170px;
    min-height: 170px;
}

/*PAGINATION*/
.admin-pagination .pagination li .page-link {
    color: #dc3545;
}

.admin-pagination .pagination .page-item.active .page-link {
    color: #ffffff;
    background: #dc3545;
    border-color: #dc3545;
}

/*CATEGORIES*/
.edit-img img {
    width: auto;
}

/*PILLS*/
.admin-pills .nav-item .nav-link {
    color: #dc3545;
}

.admin-pills .nav-link.active, .admin-pills .nav-item.show .nav-link {
    color: #000;
}

.admin-pills .nav-item .dropdown-menu .dropdown-item:active, .admin-pills .nav-item .dropdown-menu .dropdown-item.active {
    background: #dc3545;
}

.admin-pills .nav-item .dropdown-menu .dropdown-item .active {
    background-color: #dc3545 !important;
}

.display-none {
    display: none;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 370px) {
    .admin-pills .nav-item .nav-link {
        font-size: 12px;
    }
}