*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans',sans-serif!important;
    color: rgb(122, 105, 105);
    line-height: 1.2;
}

h1, h1.news-title, h1.marketing-heading{
    font-size: 4.2rem;
    color: rgb(29, 26, 26);
    font-weight: bold;
    line-height: 1.2;

}
/*FONTS*/
.font-16 {
    font-size: 16px !important;
}
/* dogadjaji */
.news-blue {
    width: 100%;
}
.blue-news {
    background-color: #303d81;
    height: 70px;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    float: left;
}
.blue-news h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.blue-news h5 {
    color: #fff;
    text-align: center;
    font-size: 10px;
}
.text-news {
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    border-bottom: 2px solid #303d81;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-left: 90px;
}
.text-news h4 {
    font-weight: bold;
    color: #000;
    font-size: 16px;
}
.text-news h6 {
    color: #bbb;
    font-size: 12px;
}
.img-homepage {
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    margin-bottom: -10px;
}
.single-image {
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center;*/
}
.page-title{
    font-size: 2.6rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5rem;
}
.page-title span{
    color: rgb(229, 57, 53);
    display: block;
}
.page-title .number{
    font-size: 5rem;
    color: rgb(229, 57, 53);
    font-weight: bold;
    line-height: 1.2;
    display: block;

}
.page-title .name{
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
}
.page-title .last-name{
    font-size: 3.6rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
}

h1.news-title{
    width: 60%;
    margin-bottom: 10px;
}
h1.header-headings{
    font-size: 3.6rem;
    color: white;
}

h2, .news a h2{
    font-size: 1.8rem;
    color: rgb(29, 26, 26);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2.5rem;

}
h2.history-text-header{
    font-size: 2.4rem;
    color: rgb(29, 26, 26);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.tickets-apps h2.big{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4rem;
}
.tickets-apps h2.big.wrap{
    word-wrap: break-word;
    width: 23rem;
}
.news-content-red h2{
    color: white;
    margin-bottom: 25px;
}
.news a.news-link h2:hover{
    color: rgb(229, 57, 53);
    text-decoration: none!important;
}
h2.horizontal-line, h2.horizontal-line-black{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
}
.horizontal-line-black span{
    color: rgb(229, 57, 53);
    float:right;
}
main h2.horizontal-line-black{
    color: rgb(29, 26, 26);

}
h2.horizontal-line:before, h2.horizontal-line-black:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: white;
}

main h2.horizontal-line-black::before{
    background-color: rgb(29, 26, 26);

}
h2.fans-text-title{
    font-size: 1.7rem;
    color: rgb(29, 26, 26);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;

}
h3, .events a h3{
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1.2;
    color: rgb(29, 26, 26);
    font-weight: bold;
}
h3.contact-title{
    font-size: 1.8rem;
    color: rgb(29, 26, 26);
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 75px;
}
h3.vertical-line{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;

}
h3.vertical-line:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 11px;
    background-color: rgb(229, 57, 53);
    margin-right: 10px;
    margin-bottom: 1px;
}


p, .events p{
    font-size: 1.4rem;
    line-height: 1.2;
    color: rgb(122, 105, 105);
}

.events iframe {
    width: 100%;
}

p.white{
    color: white;
    line-height: 1.2;
}
.white p, .white{
    color: white;
    line-height: 1.2;
}
.news-main p.news-date{
    font-size: 1.5rem;
    color: rgb(229, 57, 53);
    font-weight: bold;
    margin: 5rem 0;
}
span.news-year{
    margin-left: 5px;
}
.news-date span{
    margin-right: 5px;
}
p.news-category{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: rgb(29, 26, 26);
    margin-bottom: 5rem;
}
.news-main p{
    font-size: 1.8rem;
    color: rgb(122, 105, 105);
    line-height: 1.111;
}
.news-main p.news-game{
    font-weight: bold;
}
.tickets p, .apps p{
    margin-bottom: 5rem;
}
.tickets .tel{
    font-size: 2rem;
    color: rgb(122, 105, 105);
    line-height: 1.2;
    margin-bottom: 3rem;

}
.period{
    color: rgb(229, 57, 53);
    font-size: 1.8rem;
    margin-bottom: 30px;
    line-height: 1.2;

}
.history-content{
    font-size: 1.7rem;
    color: rgb(122, 105, 105);
    line-height: 1.647;
    margin-bottom: 40px;

}
p.contact-content{
    font-size: 1.8rem;
    color: rgb(122, 105, 105);
    line-height: 1.111;
    margin-bottom: 30px;


}
p.contact-content span{
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
}

.star-number{
    font-size: 7rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    -moz-transform: matrix( 0.92752120613448,0,0,0.92752120613448,0,0);
    -webkit-transform: matrix( 0.92752120613448,0,0,0.92752120613448,0,0);
    -ms-transform: matrix( 0.92752120613448,0,0,0.92752120613448,0,0);
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
.star-name{
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    float: left;
    margin-top: 15px;
}
.star-name span{
    display: block;
    color: rgb(229, 57, 53);
    font-weight: bold!important;
}
.star-descr-important, .star-desc{
    line-height: 1.647;
    margin-bottom: 40px;

}
.star-descr-important{
    font-weight: bold;
}

.player-info{
    color: rgb(255, 255, 255);

}
.player-info img {
    width: 30px;
}
.player-info span{
    font-weight: bold;
    margin-right: 10px;
}
.tickets .tel i{
    font-size: 3rem;
    margin-right: 15px;
}
.apps-content a{
    display: inline-block;
    margin-bottom: 10px;
}

footer p{
    color: white;
    margin-bottom: 1rem;
    line-height: 1.2;


}
p.day{
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;

}
p.month{
    font-size: 1rem;
    margin-bottom: 0;
}
p.player-number{
    font-size: 2rem;
    color: rgb(229, 57, 53);
}
p.player-name{
    color: rgb(29, 26, 26);
    font-weight: bold;

}
p.player-position{
    text-transform: uppercase;

}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none!important;
}
.custom-pagination .pagination li a {
    color: #212529;
    font-size: 20px;
    margin: 10px !important;
}
.custom-pagination .pagination li span {
    color: #b3b3b3;
    font-size: 20px;
}
/*.paginations a{*/
    /*display: inline-block;*/
    /*font-size: 1.4rem;*/
    /*color: rgb(12, 11, 11);*/
    /*padding: 5px 10px;*/
/*}*/
/*.paginations a:hover{*/
    /*color:#303d81;*/
/*}*/
/*.paginations a.active{*/
    /*border-radius: 50%;*/
    /*border: 1px solid rgb(29, 26, 26);*/
    /*background: rgb(29, 26, 26);*/
    /*color: white;*/
/*}*/
.category-news{
    text-transform: uppercase;
}
.category-news-red{
    color: rgb(229, 57, 53);
    font-weight: bold;
}
.list-players ul li a{
    font-size: 1.4rem;
    color: rgb(29, 26, 26);
    line-height: 2;
    margin-bottom: 10px;
}
.list-players ul li a:hover, .list-players ul li a.active{
    color: rgb(229, 57, 53);
}
.title-position{
    font-size: 1.4rem;
    color: rgb(29, 26, 26);
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.container-big{
    max-width: 1600px;
    margin: 0 auto;

}
.margin-bottom-small{
    margin-bottom: 3rem;
}


/*------------Header--------------*/

.home-header{
    background-position: 0px 115px;
    background-repeat: no-repeat !important;
    height: 930px;
    /*background: url("../img/header-cover.jpg") no-repeat center;*/
    background-size: cover;
    position: relative;
}

.img-player-big, .img-player-small{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.img-player-small{
    display: none;
}
.page-header{
    height: 500px;
    background-size: cover;
}
.first-tim-header {
    /*background-position: 0px -110px !important;*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("../img/new-images/others/prvi-tim.jpg");
    height: 700px;
}
.managers-header {
    background-position: 0px -200px !important;
    /*background-repeat: no-repeat !important;*/
    background-size: cover !important;
    height: 850px !important;
    background: url("../img/new-images/others/uprava.jpg") no-repeat;
}
.expert-staff-header {
    background-position: 0px -110px !important;
    /*background-repeat: no-repeat !important;*/
    background-size: cover !important;
    height: 850px !important;
    background: url("../img/new-images/others/strucni-stab.jpg") no-repeat;
}
.page-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0));
    opacity: .6;
}
.first-tim-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    opacity: .6;
}
.os-news-all{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 700px;
    background: url("../img/new-images/others/omladinska-skola.jpg");
}
.os-news-all:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    opacity: .6;
}
.news-all{
    background-position: 0px 115px !important;
    background-repeat: no-repeat !important;
    background: url("../img/pageheader.jpg");

}
.fans-header{
    /*background-position: 0px 115px !important;*/
    background-repeat: no-repeat !important;
    background: url("../img/new-images/others/fans.jpg");
    height: 900px !important;
}
.fans-header:before{
    background-image: none;
}
.stadion-header{
    /*background-position: 0px 85px !important;*/
    background-repeat: no-repeat !important;
    background: url("../img/header-stadion.jpg");
}
.stadion-header:before {
    background-image: none;
}
.scores-header{
    background-position: 0px 115px !important;
    background-repeat: no-repeat !important;
    background: url("../img/header-scores.jpg");
}
.first-tim-header, .news-all, .staff-header, .fans-header, .stadion-header,.scores-header{
    background-position: top center;
    background-size: cover;
}

.menu-bar{
    color: white;
    position: absolute;
    top:25px;
    right: 3%;
    cursor: pointer;
    display: none;
    z-index: 999;
    height: 30px;
    width: 30px;
}
body nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 100000;
    transition: all 0.3s ease;

}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
nav ul {
    margin: 0;
}
.menu-left{
    float:left
}
.menu-right{
    float: right;
}

.menu-right ul li:nth-child(3) a, .menu-right ul li:nth-child(4) a{
    /*cursor: not-allowed;
    pointer-events: none;*/
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 4.3rem 0;
    position: relative;
}
.menu-right li:last-child a{
    margin-right: 0;
}
nav ul li a:link,
nav ul li a:visited{
    margin-right: 2.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.2;
    color: rgb(250, 225, 225);
    display: inline-block;
    white-space: nowrap;


}

nav ul li a.menu-link{
    color: rgb(250, 225, 225);
}

nav ul li>a.menu-link::after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: white;
    margin-top: 15px;
    display: block;
    transition: all 0.5s ease;


}
nav ul li>a.active::after{
    width: 100%;
}

nav ul li:hover ul{
    display: block;
}
nav ul li a.menu-link:hover{
    color: white;
}
nav ul li a.menu-link:hover:after{
    width: 100%;
}

nav ul ul{
    position: absolute;
    top: 75%;
    left: 0;
    background: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    display: none;
}
nav ul ul li{
    display: block;
    padding: 0;
}
nav ul ul li a.menu-link{
    color: rgb(29, 26, 26);
    line-height: 1.2;
    text-wrap: none;
}
nav ul ul li a.menu-link:hover{
    color: rgb(229, 57, 53);
}
.menu-bar i{
    font-size: 4rem;
}
.menu-bar i:hover{
    color: rgb(229, 57, 53);
}
.logo{
    position: absolute;
    left:50%;
    top:44%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
}
.logo-small{
    position: absolute;
    left:3%;
    top:25px;
    display: none;
}
.logo img, .logo-small img{
    display: table-cell;
}
.logo-text{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    white-space: nowrap;

}

.social-menu{
    position: relative;
    z-index: 5;
}
.social-menu ul{
    float: right;
    margin-top: 21%;

    list-style-type: none;

}
.social-menu ul li{
    margin-bottom: 20px;
}
.social-menu ul li a{
    color: white;
    font-size: 1.4rem;


}
.social-menu ul li a i{
    margin-left: 15px;
    float: right;
    font-size: 2rem;
    line-height: 1.2;
}
.social-menu ul li a span.social-name{

    transform: translateX(15px);
    opacity: 0;
    transition: all .5s;
    display: inline-block;
    color: white;
    text-align: right;



}
.social-menu ul li a:hover{
    color: rgb(229, 57, 53);
    text-decoration: none;
}
.social-menu ul li a:hover span.social-name{
    opacity: 1;
    transform: translateX(0);
    color: rgb(229, 57, 53);
}
.header-news{
    position: relative;
    float: left;
    margin-top: -14%;
    width: 100%;
    height: 400px;


}
.header-news .carousel-inner{
    width: 50%!important;
    height: 400px;
}
.button-headings{
    text-transform: uppercase;
}



.carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    margin-left: 15px!important;
    background-color: white!important;
}
.carousel-indicators .active{
    background-color: rgb(229, 57, 53)!important;
}

/*-----------------Pocetna------------------------------*/

.team-results {
    font-size: 20px;
}

.team-results div img {
    width: 50px;
}

.team-results-type {
    font-size: 50px;
    color: rgb(229, 57, 53);
}

.margin-top-negative{
    margin-top: -190px;
    position: relative;
    z-index: 5;
}

.all-news{
    width: 66%;
    margin-right: 1%;
    float: left;
}
.events{
    width: 33%;
    float: left;
}
.news{
    width: 49%;
    margin-right: 2%;
    float: left;
    display: table;
    padding: 0px;
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;


}
a.button-white{
    background-color: rgb(248, 247, 247);
    color: rgb(229, 57, 53);
    margin-top: 30px;
}
a.button-white:hover{
    background-color: rgb(248, 247, 247);
    color: rgb(229, 57, 53);
}
.news-events, .tables-schedules{
    margin-bottom: 5rem;
}
.news-row{
    /*margin-bottom: 2rem;*/
}
.news img{
    display: table-cell;
    width: 100%;
}
.news:last-child{
    margin-right: 0;
}
.news-content{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 2.5rem;
}
.news-important{
    position: relative;
    width: 99%;
}
.news-important img{
    width: 100%;
}
.news-red{
    background: rgb(229, 57, 53);
    padding: 6rem;
    min-height: 252px;
}
.news-red .news-content-red{
    width: 66%;
    padding: 0;
    float: left;
    margin-right: 1%;
}
.news-red img{
    display: inline-block;
    width: 33%;

}
.news-important .news-content{
    position: absolute;
    top: 6rem;
    bottom: 6rem;
    right: -1px;
    width: 25%;
    background-color: rgb(248, 247, 247);
}
.events{
    /*background-color: rgb(248, 247, 247);*/
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 2.8rem 2.56rem;
}
.event{
    margin-bottom: 25px;
}
.date{
    background: #303d81;
    width: 70px;
    height: 70px;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding-top: 16px;

}
.event-info{
    margin-top: 20px;
    float: left;
    border-bottom: 1px solid #303d81;


}
.active .date{
    background:  rgb(229, 57, 53);
}
.active .event-info{
    border-bottom: 1px solid rgb(229, 57, 53);
}

.table-score{
    width: 100%;
    float: left;
    margin-right: 2%;
}
.table-content{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    background: white;
}
.schedules{
    width: 55%;
    float: left;
}
.next-game, .last-game{
    width: 48%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    background: white;
    float: left;
}
.last-game{
    margin-right: 2%;
    float: left;
}
.next-game{
    float: right;
}
.last-game, .next-game, .table-content{
    height: 340px;
}
.slider, .tickets-apps{
    margin-bottom: 5rem;
}
.news-slider{
    margin-bottom: 5rem;
}
.slider .carousel-inner{
    width: 100%;
    height: 800px;
}
.tickets, .apps{
    width: 49%;
    float: left;

}
.tickets{
    margin-right: 2%;
}
.tickets-content, .apps-content{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 3.5rem 4rem;
}
.tickets-content{
    padding: 3.5rem 4rem;
}
.apps-content{
    padding: 3rem 4rem 0 4rem;
}
.tickets-content, .apps-content{
    min-height: 321px;
}
.apps{
    position: relative;
}
.apps-text{
    width: 55%;
    float: left;
}
.apps-content img.mob{
    width: 32%;
    float: right;
}
.map{
    height: 600px;
}

.sponsors {
    text-align: center;
    background: #eeeeee;
    padding: 12.5rem 0;
}
.sponsors ul{
    list-style-type: none;
    margin-bottom: 11.5rem;
}
.sponsors ul:last-child{
    margin-bottom: 0;
}
.sponsors h2{
    margin-bottom: 7rem;
}
.sponsors ul li{
    display: inline-block;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.sponsors ul li a{
    position: relative;
    display: inline-block;
}
.sponsors ul li a img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;

}
.sponsors ul li a:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
/*--------------------Sponsors-----------------------------*/

.red-header .red{
    background:  rgb(229, 57, 53);
}
.header-red{
    background:  rgb(229, 57, 53);
}
.sponsors .small-container{
    max-width: 850px;
    margin: 5rem auto;

}
.sponsor-main{
    margin-bottom: 5rem;
}

.sponsor-main ul li{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5rem;
    text-align: center;
    width: 33.1%;
}

.sponsor-main ul li a img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/*----------------------Vesti--------------------------------*/
.page-margin-top-negative{
    margin-top: -190px;
    position: relative;
    z-index: 5;
}

.background{
    /*background: #eeeeee;*/
    background: transparent;
}
/*.paginations{*/
    /*text-align: center;*/
    /*margin-top: 5rem;*/
    /*margin-bottom: 10rem;*/
/*}*/
.prev img{
    margin-right: 20px;
}
.next img{
    margin-left: 20px;
}
/*----------------------Vesti-single--------------------------*/
.news-single-header{
    padding-top: 115px;
    position: relative;
}
.news-single-header img{
    width: 100%;
}
.news-single-header .go-down{
    position: absolute;
    left: 50%;
    bottom: 9%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.container-small{
    max-width: 1150px;
    margin: 0 auto;
}
.container-with-tiny {
    max-width: 1150px;
    margin: 0 auto;
}

.container-small img {
    width: auto !important;
    height: auto !important;
}
.news-main img{
    /*width: 100%;*/
    margin:5rem 0;
}
video{
    width: 100%;
    margin: 5rem 0;
}
.comments-container{
    max-width: 650px;
    margin: 0 auto;
}
.comments-form input:-moz-placeholder, .comments-form textarea::-webkit-input-placeholder{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.comments-form input:-ms-input-placeholder, .comments-form textarea::-webkit-input-placeholder{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.comments-form input::-webkit-input-placeholder, .comments-form textarea::-webkit-input-placeholder{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.comments-form input:-ms-input-placeholder, .comments-form textarea::-webkit-input-placeholder{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.comments-form input[type=text],.comments-form input[type=email], .comments-form textarea{
    display: block;
    padding: 20px 25px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    margin-bottom: 30px;
    border: 1px solid rgb(215, 215, 215);
}
.comments-form input[type=submit]{
    text-transform: uppercase;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    padding: 25px 30px;

}
.comments-form textarea{
    height: 15rem;
}
.comments-form p{
    float: left;
    margin-top: 20px;
}
.comments-container .comments-author-input{
    width: 11%;
    float: left;
}
.comments-author-input .image-frame{
    display: block;
    border: 1px solid #efefef;
    background: #efefef;
    border-radius:50%;
    padding: 15px;
    width: 56px;
    height: 56px;
}
.image-frame img{
    padding: 0;
    margin: 0;
}
.form, .comment-text{
    width: 81%;
    float: left;
}
.player-picture {
    text-align: center !important;
}
.player-picture img {
    max-height: 140px !important;
}
.comment{
    margin-top: 30px;
}
.comment .comment-author{
    color: black;
    margin-top: 10px;
}
.comment .comment-content{
    color: rgb(122, 105, 105);
}
.comments-output{
    margin-bottom: 10rem;
}

/*-------------Prvi tim-------------------*/
.first-tim{
    position: relative;
}

.tim-navigation{
    list-style-type: none;
    position: absolute;
    right: 0;
    top:20px;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 60;
}

.tim-navigation li{
    display: inline-block;
    margin-right: 25px;
}
.tim-navigation li:last-child{
    margin-right: 0;
}
.tim-navigation li a.tab-link{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    display: inline-block;


}
.tim-navigation li a.tab-link:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    float: left;
    display: none;
}
.tim-navigation li a.active:after{
    display: block;
}
.players{
    margin-bottom: 5rem;

}

.player{
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    width: 393px;
    float: left;
    margin-right: 9px;
    margin-bottom: 10px;
    display: block;
    transition: all .5s ease;

}
.players .active{
    margin-right: 9px;
}
.players .active:nth-child(4n){
    margin-right: 0;
}
.player-text{
    display: table;
}
.player:nth-child(4n){
    margin-right: 0;
}
.player a{
    display: block;
    width: 100%;
}
.player-picture{
    display: table-cell;
    padding: 20px;
    width: 60%;
    overflow: hidden;
    background-size: cover;
    height: 180px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
}
.player-picture img {
    height: auto;
    max-width: 100%;
    width: auto;
}
.player-content{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}



/*---------------------Istorija Kluba----------------------------*/


.history-header{
    background: url("../img/istorija.jpg") no-repeat center;
}
.history-header:before {
    background-image: none;
}
.page-margin-top-negative-small{
    margin-top: -120px;
}
.history{
    max-width: 1150px;
    margin: 120px auto;
}
.history-sections{
    margin-bottom: 60px;
}


/*------------------------Marketing------------------------*/

.marketing{
    max-width: 1150px;
    margin: 60px auto 150px;
}


/*------------------------Nasi navijaci-------------------------*/
.page-margin-top-negative-big{
    margin-top: -240px;
}

.fans-content{
    padding: 2.5%;
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}
.fans-text{
    width: 57.5%;
    float: left;
    padding-right: 50px;
}
.fans-imgs{
    width: 42.5%;
    float: left;
}
.fans-imgs img{
    width: 100%;
    margin-bottom: 20px;
}
.fans-text-content{
    line-height: 1.857;
    margin-bottom: 40px;
}
/*----------------------Stadion--------------------------*/


.stadion-chair, .stadion-map, .old-chair{
    margin-bottom: 75px;
}


/*-------------------Footer-----------------------------*/


footer{
    background: #303d81;
}
.footer-content{
    padding: 140px 160px;
    position: relative;
}
.footer-block{
    float:left;
}
.footer-block-one{
    width: 12.6%;
}
.footer-block-two{
    width: 12.6%;
}
.footer-block-three{
    width: 16%;
}
.footer-block-four{
    width: 15.5%;
}
.footer-block-five{
    width: 17.5%;
}
.footer-block-six{
    width: 9.8%;
}

footer ul li a:link,
footer ul li a:visited{
    font-size: 1.4rem;
    line-height: 2.14;
}
footer ul li a:hover{
    color: rgb(229, 57, 53);
    text-decoration: none;
}
input[type='search']{
    background: transparent;
    border: 2px solid white;
    display: inline-block;
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.4rem;
}
:-moz-placeholder{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 2.143;

}
:-ms-input-placeholder{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 2.143;

}
::-moz-placeholder{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 2.143;

}
::-webkit-input-placeholder{
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 2.143;

}

.button{
    display: inline-block;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}
.button:hover{
    text-decoration: none;
}
.button-red{
    background: rgb(229, 57, 53);
    color: white;
}
.button-red:hover{
    color: white;
}

.footer-icon i{
    margin-right: 20px;
}
.copyright{
    text-align: center;
    padding:42px 0;
    border-top: 1px solid rgb(175, 174, 174);
}
.copyright p{
    font-size: 1.2rem;
    color: rgb(175, 174, 174);
    text-transform: uppercase;
    font-weight: 400;
}
.copyright p span{
    font-weight: bold;
}
/*----------------Zvezde Radnickog---------------*/
.margin-top{
    margin-top: 150px;
}
.stars-radnickog .fans-text-title, .stars-radnickog-single .fans-text-title{
    text-align: center;
    margin-bottom: 60px;
}

.stars-radnickog{
    max-width: 1150px;
    margin: 0 auto 80px;
}
.star{
    width: 49%;
    float: left;
    margin-right: 0%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.star:nth-child(2n){
    margin-right: 1%;
}
.star img{
    transition: all .5s ease;
    width: 100%;
}
.star a:hover img{
    transform: scale(1.1);
}


.star-radnicki-text{
    position: absolute;
    left: 30px;
    bottom: 20px;
}


/*----------------Zvezde single--------------------*/
.stars-radnickog-single{
    max-width: 560px;
    margin: 0 auto 120px;.apps-content img.mob
}
.stars-single .margin-top{
    margin-top: 190px;
}
.stars-radnickog-single img{
    margin-bottom: 60px;
    width: 100%;
    height: auto;
}


/*---------------Rezultati--------------------*/

.game-schedule, .league-table{
    float: left;
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    height: 868px;
}
.game-schedule{
    /*width: 620px;*/
    width: 48%;
    margin-right: 20px;
}
.league-table{
    width: 960px;
}
.scores{
    position: relative;
    margin-bottom: 100px;
}
.cup{
    width: 41%;
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    height: 770px;
    display: none;
}
/*------------------Single-player-----------------*/
.player-single-content{
    position: relative;
}
/*.single-player {*/
    /*margin-top: 115px;*/

/*}*/
.single-player {
    height: 800px;
    background-position: top;
}
.single-player:before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
     opacity: .6;
}
.home-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.19));
    opacity: .6;
}
.player-single-content .page-title{
    float: left;
    margin-top: 250px;
}
.player-bio{
    float:right;
    width: 284px;
    /*margin-top: 180px;*/
}

.page-margin-top-negative-player{
    margin-top: -500px;
}
.field-position{
    margin-bottom: 20px;
    width: 180px;
}
.list-players{
    max-width: 1060px;
    margin: 100px auto;
}
.list-players h2.horizontal-line-black{
    text-align: center;
}
.list-players ul{
    list-style-type: none;
    float: left;
    margin-right: 1.3%;
    width: 24%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    min-height: 350px;
}
.list-players ul:last-child{
    margin-right: 0;
}


/*-------------------------os-vesti--------------------------------*/

.os-news-header{
    position: relative;
}
.os-news .all-news{
    width: 100%;
    float: none;
    margin-right: 0;
}
.os-news .news{
    width: 32.3%;
    margin-right: 1.55%;
}
.os-news .news:last-child{
    margin-right: 0;
}
.os-news .news-important{
    width: 100%;

}
.os-news .news-important .news-content {

    top: 5.5rem;
    bottom: 5.5rem;
    right: -1px;
    width: 16.4%;
}


/*--------------------os-selekcije--------------------------*/



.selections .tim-navigation{
    list-style-type: none;
    position: static;
    margin-top: 200px;
    background-image: linear-gradient(to right, rgb(229, 57, 53), rgba(255, 6, 0, 0.17));
}


.selections .tim-navigation li a.tab-link {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    line-height: 1.2;
    display: inline-block;
}
.selections .tim-navigation li a.tab-link.active{
    color: white;
}

.selections .tim-navigation li a.tab-link:after {
    background-color:white;
}
.selection{
    padding: 60px 0;
    margin-bottom: 40px;
    display: none;
}
.selection.active{
    display: block;
}
.selection img{
    width: 100%;
}
.selection h2.fans-text-title{
    margin-bottom: 60px;
}
.selection img{
    margin-bottom: 40px;
}
.selection-text-players{
    margin: 30px 0;
}

.table-responsive {
    /*margin: 0 auto;
    width: 530px;*/
    width: 40%;
}

.hover-tel:hover {
    color: rgb(229, 57, 53);
}

.brosura {
    font-size: 2rem;
    color: rgb(122, 105, 105) !important;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.brosura:hover {
    color: rgb(229, 57, 53) !important;
}
.marketing-header {
    overflow:hidden;
}
.marketing-header img {
    /*margin: -21.875% 0;*/
}
.home-slider-text p {
    font-size: 1.8rem;
}
.home-slider-text {
    font-size: 1.8rem;
}

/*--------------Responsive----------------------*/

@media only screen and (max-width:530px) {
    .table-responsive {
        width: 300px !important;
        overflow-x: scroll;
    }
}
@media only screen and (max-width:1600px){

    .container-big{
        padding: 0 3%;
    }

    .tim-navigation {
        right: 3%;
    }
    footer .container-big{
        padding: 80px 3%;
    }

    .single-player {
        margin-top: 0px;
    }
    .player-bio {
        margin-top: 100px !important;
    }
    .home-header{
        height: 800px;
    }
    .all-news{
        width: 100%;
        margin-right: 0%;
        float: none;
    }
    .news-red{
        height: 250px;
        /*padding: 3.7%;*/
    }
    .events{
        width: 100%;
        float: none;
        padding: 3rem 0;
    }
    .event-info{
        width: 90%;
    }
    .table-score{
        width: 100%;
        float: none;
        margin-right: 0%;
        margin-bottom: 3rem;
    }
    .schedules{
        width: 100%;
        float: none;
    }
    .tickets, .apps{
        width: 100%;
        float: none;

    }
    .tickets-content, .apps-content{
        min-height: auto;
    }
    .tickets{
        margin-right: 0%;
        margin-bottom: 3rem;
    }
    .apps-content{
        padding: 3rem 10rem 0 4rem;
    }

    .apps-text{
        width: 70%;

    }
    .apps-content img.mob{
        width: 30%;
    }
    .background{
        background: transparent;
    }
    .player{
        width: 32.5%;
        margin-right: 1%;
    }
    .player:nth-child(4n){
        margin-right: 1%;
    }
    .player:nth-child(3n){
        margin-right: 0;
    }
    .game-schedule, .league-table{
        float: none;
        background-color: rgb(248, 247, 247);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        height: 868px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .player-info{
        font-size: 1.8rem;
        line-height: 1.2;
    }
    .player-single-content .page-title{
        margin-top: 200px;
    }
    .page-margin-top-negative-player{
        margin-top: -450px;
    }
    .table-responsive {
        width: 600px;
        margin: 0 auto !important;
    }
    .game-schedule {
        width: 100%;
    }
    .team-results-type {
        font-size: 30px;
    }
}
@media only screen and (max-width:1500px){
    .os-news .news{
        width: 32.3%;
        height: 400px;
        margin-right: 0%;
        display: block;
        margin-bottom: 20px;
    }
    .os-news .news-img{
        width: 20%;
        display: inline-block;
        float: left;
    }
    .os-news .news-content{
        width: 80%;
        float: left;
        padding-top: 5%;
    }
    .os-news .news-important img{
        width: 100%;

    }
    .os-news .news-important .news-content {
        position: static;
        width: 100%;
        padding-top: 2%;
    }
}
@media only screen and (max-width:1440px){
    .news.news-important .news-content-important {
        /*padding: 5rem;*/
        display: inline-block;

    }
}
@media only screen and (max-width:1380px){
    .sponsors ul li{
        margin-bottom: 20px;
    }
    .page-margin-top-negative-player {
        margin-top: -400px;
    }
}
@media only screen and (max-width:1200px) and (min-width:800px){
    .news-red img {
        width: 20%;
    }
    .img-homepage {
        padding: 0px;
    }
    .news-red {
        height: 200px;
    }
}
@media only screen and (max-width:1200px){
    html{
        font-size: 50%;
    }
    .selections .tim-navigation li{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .selections .tim-navigation li a.tab-link {
        display: inline;
    }
    .selections .tim-navigation li a.tab-link:hover {
        color: rgb(229, 57, 53);
    }

    .selections .tim-navigation li a.tab-link:after {
        display: none;
    }
    .selections .tim-navigation {
        margin-top: 120px;
    }
    .selection{
        padding: 30px 0;
        margin-bottom: 20px;
    }
    .team-results-type {
        font-size: 30px;
    }
    .home-header{
        height: 600px;
        background-position:center !important;
        /*background: url("../img/header-cover-medium.jpg") no-repeat center;*/

    }
    .player-bio {
        margin-top: 10px !important;
    }
    .marketing-header img {
        margin: 0;
    }
    .marketing-header .immag {
        height: auto !important;
        width: 100%;
    }
    .news-single-header {
        padding-top: 0px;
    }
    .page-header{
        background-position: center !important;
        height: 400px;

    }
    .news-single-header img {
        padding-top:0px !important;
    }
    .select .page-margin-top-negative{
        margin-top: -140px;
    }
    .news-all{
        background-position:center !important;
        background: url("../img/pageheader-medium.jpg");

    }
    .os-news-all{
        background-position:center !important;
        background: url("../img/new-images/others/omladinska-skola.jpg");
    }
    .first-tim-header {
        background-position:center !important;
        background: url("../img/new-images/others/prvi-tim.jpg");
    }
    .os-news-all{
        background-position:center !important;
        background: url("../img/new-images/others/omladinska-skola.jpg");
    }
    .history-header{
        background-position:center !important;
        background: url("../img/istorija-medium.jpg") no-repeat center;
    }
    .fans-header{
        background-position:center !important;
        background: url("../img/new-images/others/fans.jpg");
    }
    .stadion-header{
        background-position:center !important;
        background: url("../img/header-stadion-medium.jpg");
    }
    .scores-header{
        background-position:center !important;
        background: url("../img/header-scores-medium.jpg");
    }
    .logo{
        display: none;

    }
    .logo-small{
        display: table;
    }
    .menu-bar{
        display: unset!important;
        z-index: 99999;

    }
    body nav, .red-header .red{
        position: absolute;
        top: 80px;
        background: rgba(0,0,0,1);
        z-index: 500;
        display: none;

    }
    .red-header .menu-bar{
        color:rgb(29, 26, 26);
    }
    .red-header .logo-text{
        color:rgb(29, 26, 26);
    }

    .menu-left{
        float:none
    }
    .menu-right{
        float: none;
    }
    nav ul li{
        display: block;
        padding: 0 0;
        position: static;
    }

    nav ul li a:link,
    nav ul li a:visited{
        font-size: 1.3rem;
        line-height: 2.2;
    }

    nav ul li>a.menu-link::after{
        display: none;

    }
    nav ul li>a.active::after{
        display: none;
    }

    nav ul li a.menu-link{
        color: rgb(185, 185, 185);

    }

    nav ul li a.menu-link:hover{
        color: white;
        text-decoration:none;
    }

    nav ul ul{
        position: static;
        background: transparent;
        padding: 0px 20px;
        display: block;
    }
    nav ul ul li{
        display: block;
        padding: 0;

    }
    nav ul ul li a.menu-link{
        line-height: 2.2;
        text-wrap: none;
        color: rgb(185, 185, 185);
    }
    nav ul ul li a.menu-link:hover{
        color: white;
    }

    .header-news {
        margin-top: 160px;
        height: 250px;
    }

    .social-menu ul{
        float: none;
        margin-top: 0%;
        position: absolute;
        right: 3%;
        top:150px;
    }
    .carousel-inner{
        width: 80%!important;
        height: 300px;
    }
    .carousel-indicators {
        bottom: 100px!important;
    }

    .footer-block{
        width: 33%;
        min-height: 250px;
    }

    .news-red {
        /*padding: 4.9rem;*/
        min-height: 180px;
        height: 200px;
    }
    .event-info {
        margin-top: 29px;
    }
    .slider .carousel-inner, .news-slider .carousel-inner{
        width: 100%!important;
        height: auto!important;
    }
    .map{
        height: 400px;
    }
    .player{
        width: 48%;
        margin-right: 2%;
    }

    .player:nth-child(3n){
        margin-right: 2%;
    }
    .player:nth-child(2n){
        margin-right: 0;
        float: right;
    }
    .marketing{
        padding: 0 3%;
        margin: 40px auto 80px;
    }
    p.contact-content{
        margin-bottom: 20px;


    }
    p.contact-content span{
        margin-bottom: 20px;
    }
    h3.contact-title{

        margin-bottom: 30px;
        margin-top: 50px;
    }
    .page-margin-top-negative-big{
        margin-top: -180px;
    }

    .fans-content{

        margin-bottom: 60px;
    }
    .fans-text{
        width: 100%;
        float: none;
        padding-right: 0px;
    }
    .fans-imgs{
        width: 100%;
        float: none;
    }
    .fans-imgs img{
        width: 49%;
        margin-bottom: 20px;
        margin-right: 2%;
        float: left;
    }
    .fans-imgs img:nth-child(2n){
        margin-right: 0;
    }
    .fans-text-content{
        line-height: 1.857;
        margin-bottom: 30px;
    }
    .stadion-chair, .stadion-map, .old-chair{
        margin-bottom: 60px;
    }
    .stars-radnickog .fans-text-title{
        font-size: 2.4rem;
    }
    .margin-top{
        margin-top: 100px;
    }
    .stars-radnickog-single{

        margin: 0 auto 80px;
    }
    .stars-single .margin-top{
        margin-top: 100px;
    }
    .stars-radnickog-single img{
        margin-bottom: 40px;

    }

    .player-bio{
        float:none;
        margin-top: 0%;
        padding: 30px;
        text-align: center;
        width: 100%;
    }

    .player-bio .field-position{
        float: none;
        margin-right: 0px;
        background: rgba(0,0,0,.6);
    }
    .player-single-content .page-title{
        margin-top: 0px;
        float: none;
        text-align: center;

    }
    .page-title .name, .page-title .last-name{
        color: rgb(29, 26, 26);
    }
    .page-margin-top-negative-player{
        margin-top: -0px;
    }
    .player-info{
        color: rgb(29, 26, 26);
    }
    .list-players {
        max-width: 1060px;
        margin: 40px auto;
    }
    .list-players ul{
        margin-right: 2%;
        width: 49%;
    }
    .list-players ul:nth-child(2n){
        margin-right: 0;
    }
    .selections .tim-navigation {

        margin-top: 150px;
    }
    .os-news .news{
        height: 350px;
    }

}
@media only screen and (max-width:1150px){
    .container-small{
        padding: 20px;
    }
    .container-with-tiny {
        padding: 20px;
    }
    .stars-radnickog{
        padding: 3%;
    }
    .team-results-type {
        font-size: 16px;
    }
}
@media only screen and (max-width:1000px){
    .event-info {
        width: 85%;
    }
    .os-news .news{
        width: 100%;
        height: auto;
        margin-right: 0%;
        display: block;
        margin-bottom: 20px;
    }
    /*.team-results-type {*/
        /*font-size: 15px;*/
    /*}*/
}
@media only screen and (max-width:920px){
    .apps-content{
        padding: 3rem 4rem 0 4rem;
    }

    .apps-text{
        width: 60%;

    }
    .apps-content img.mob{
        width: 40%;
    }
}
@media only screen and (max-width:900px){
    .news-red {
        padding: 2.5rem;
    }
    h1.header-headings {
        font-size: 2.4rem;
    }
    .sponsor-main ul li{
        width: 49%;
    }

    .star{
        width: 564px;
        float: none;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .stars-radnickog {

        margin: 0 auto 60px;
    }


}
@media only screen and (max-width:840px){
    .selections .tim-navigation{
        list-style-type: none;
        position: static;
        border-bottom: none;
    }

    .selections .tim-navigation li{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .selections .tim-navigation li a.tab-link {
        display: inline;
    }
    .selections .tim-navigation li a.tab-link:hover {
        color: rgb(229, 57, 53);
    }

    .selections .tim-navigation li a.tab-link:after {
        display: none;
    }
    .selections .tim-navigation {
        margin-top: 120px;
    }
    .selection{
        padding: 30px 0;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:800px){
    .margin-top-negative{
        margin-top: -80px;
    }

    .footer-block{
        width: 50%;

    }
    .home-header{
        height: 500px;
        /*background: url("../img/header-cover-small.jpg") no-repeat center;*/
    }
    .img-homepage {
        height: 400px;
    }
    .news{
        width: 100%;
        float: none;
        margin-right: 0;
        /*display: block;*/
        padding: 0;
        margin-bottom: 2rem;
    }
    .news img{
        width: 30%;
        float: left;
    }
    .news-row{
        margin-bottom: 0;
    }
    .news-content{
        width: 70%;
        float: left;
        padding-top: 20px;
    }
    .news-important{
        position: static;

    }
    .news.news-important{
        width: 100%;
        display: block;


    }
    .news.news-important img{
        width: 100%;
    }
    .news-important .news-content {
        position: static;
        width: 100%;

    }

    .news-red{
        padding: 20px;
        /*margin-top: 20px;*/
        /*height: 210px;*/
        height: 250px;
    }
    .news-red img.img-red{
        margin-left: 20px;
        width: 20%;
        display: block;
        float: right;
        margin-right: 20px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .last-game, .next-game{
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 20px;
    }
    .player{
        width: 100%;
        margin-right: 0%;
    }
    .player-content{
        padding-left: 0%;
        width: 100%;
    }

    .player:nth-child(3n){
        margin-right: 0%;
    }
    .player:nth-child(2n){
        margin-right: 0;
    }
}
@media only screen and (max-width:750px){
    .team-results-type {
        font-size: 30px;
    }
}

@media only screen and (max-width:700px){
    /*.team-results-type {*/
        /*font-size: 30px;*/
    /*}*/
    .event-info{
        width: 75%;
    }
    .os-news .news-content{
        width: 100%;
        float: none;
        padding: 0;
    }
    .os-news .news-important .news-content-important{
        padding: 0;
    }

    .os-news .news img{
        float: none;
        margin-bottom: 1rem;
        width: 30%;
    }
    .os-news .news-important img{
        width: 100%;

    }
}
@media only screen and (max-width:670px){
    .tickets-apps h2.big.wrap{
        font-size: 2rem;
    }
    .apps-content{
        padding: 3rem 4rem 0 4rem;
    }

    .apps-text{
        width: 55%;

    }
    .apps-content img.mob{
        width: 45%;
    }
}
@media only screen and (max-width:650px){
    .comments-container{
        padding: 20px;
    }
    .comment-text,.form {
        width: 80%;
        margin-left: 0px;
    }
    .comments-container .comments-author-input {
        width: 18%;
    }
}
@media only screen and (max-width:600px){
    .page-header{
        height: 300px;
    }
    .news-all{
        background: url("../img/pageheader-small.jpg");

    }
    .first-tim-header {
        background: url("../img/new-images/others/prvi-tim.jpg");
    }
    .os-news-all{
        background: url("../img/new-images/others/omladinska-skola.jpg");
    }
    .history-header{
        background: url("../img/istorija-small.jpg") no-repeat center;
    }
    .fans-header{
        background: url("../img/new-images/others/fans.jpg");
    }
    .stadion-header{
        background: url("../img/header-stadion-small.jpg");
    }
    .scores-header{
        background: url("../img/header-scores-small.jpg");
    }
    .header-news {
        margin-top: 110px;
    }
    .header-news .carousel-inner {
        width: 70%!important;

    }
    .social-menu ul {

        top: 110px;
    }
    .go-down img{
        width: 50%;
    }
    h1.news-title{
        font-size: 2.6rem;
        width: 100%;
        text-align: center;
    }
    .map{
        height: 200px;
    }
    .sponsor-main ul li{
        width: 100%;
    }
    .sponsors{
        padding: 40px 0;
    }
    .sponsors ul{
        margin-bottom: 4rem;
    }
    footer .container-big {
        padding: 40px 3%;
    }
    .page-margin-top-negative-small{
        margin-top: -80px;
    }
    .history{
        max-width: 1150px;
        margin: 80px auto;
    }
    .history-sections{
        margin-bottom: 40px;
    }
    h2.history-text-header{
        margin-bottom: 15px;
    }
    .period{
        margin-bottom: 15px;
    }
    .history-content{
        margin-bottom: 20px;
    }
    .marketing{

        margin: 30px auto 60px;
    }
    h3.contact-title{

        margin-bottom: 20px;
        margin-top: 35px;
    }
    .fans-imgs img{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        float: none;
    }
    .fans-content {
        padding: 5% 2.5%;
        margin-bottom: 50px;
    }
    h2.fans-text-title {
        margin-bottom: 20px;
    }
    .fans-text-content {

        margin-bottom: 20px;
    }
    .page-margin-top-negative-big {
        margin-top: -140px;
    }
    .stadion-chair, .stadion-map, .old-chair{
        margin-bottom: 30px;
    }
    .stars-radnickog{

        margin: 0 auto 40px;
    }
    .os-news .news-content{

        padding-top: 2%;
    }
}
@media only screen and (max-width:560px){
    .star{
        width: 100%;
        margin-left: 0%;
        -webkit-transform: translateX(-0%);
        -moz-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        -o-transform: translateX(-0%);
        transform: translateX(-0%);
    }
    .stars-radnickog-single{
        padding: 3%;
        margin: 0 auto 40px;
    }


    .stars-radnickog-single img{
        margin-bottom: 30px;
    }
    .star-descr-important, .star-desc{
        margin-bottom: 20px;

    }
}
@media only screen and (max-width:540px){
    .news-content{
        width: 60%;
    }
    .news img{
        width: 40%;
    }
}
@media only screen and (min-width: 1600px) {
    .fixed-col {
        /*margin-left: 20px;*/
            margin: 0px;
            height: 250px;
    }
    .news {
        margin-bottom: 20px;
        /*margin-top: 10px;*/
    }
}
@media only screen and (min-width: 1200px) {
    .img-homepage {
        height: 250px;
    }
    .news-red img {
        width: 20%;
    }
}
@media only screen and (max-width:500px){
    .footer-block{
        width: 100%;
        min-height: auto;
        margin-bottom: 50px;
        text-align: center;
    }
    .footer-block:last-child{
        margin-bottom: 0;
    }

    img.mob{
        display: none;
    }


    .news-red .news-content-red {
        width: 60%;

    }
    .news-red img.img-red{
        margin-top: 30px;
    }
    .news-content{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .news-slider{
        margin-bottom: 0;
    }
    /*.paginations a{*/
        /*padding: 1px 5px;*/
    /*}*/
    .prev img{
        margin-right: 10px;
    }
    .next img{
        margin-left: 10px;
    }
    .form p{
        float: none;
        margin-bottom: 20px;
    }
    .comments-form input[type=submit] {
        padding: 15px 20px;
        float: none;
        text-align: center;
    }
    .player-content{
        padding-left: 0%;

    }
    .marketing{
        text-align: center;
    }

}
@media only screen and (max-width:450px) {
    .first-tim .page-title {
        margin-bottom: 10rem;
    }
    .tim-navigation {
        top: 60px;
    }
    .os-news .news-events, .os-news .players{
        margin-top: 80px;
    }

}
@media only screen and (max-width:410px) {
    .date {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        padding-top: 10px;
    }
    .event-info {
        width: 70%;
        margin-top: 6px;
    }

}
@media only screen and (max-width:400px) {

    .container-big {
        width: auto;
    }
    h1.news-title{
        font-size: 2.4rem;
    }
    .social-menu ul {
        margin-top: 30%;
    }

    .tim-navigation li {

        margin-right: 12px;
    }
    .comments-container .comments-author-input{
        width: 25%;
    }
    .comment-text, .form {
        width: 75%;

    }
    .sponsors {
        padding: 40px 0 20px 0;
    }
    .news-main p.news-date{
        margin: 2rem 0;
    }
    .star-number{
        font-size: 5rem;
    }
    .star-name{
        font-size: 1.8rem;
        margin-top: 8px;
    }
    .star-radnicki-text{

        left: 20px;
        bottom: 10px;
    }
    .stars-radnickog .fans-text-title {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    /*.img-player-big{*/
        /*display: none;*/
    /*}*/
    .img-player-small{
        display: block;
    }

    .player-single-content .page-title{
        margin-bottom: 0px;
    }
    .player-bio .field-position{
        width: 100%;
    }
    .list-players ul{
        margin-right: 0%;
        width: 100%;
        text-align: center;
        min-height: auto;
    }
    .all-news .news-content{
        display: block;
        width: 100%;
        padding: 0;
    }
    .all-news .news img{
        width: 30%;
    }
    .all-news .news-important img{
        width: 100%;
        margin-bottom: 10px;
    }
    .all-news .news-important .news-content-important{
        padding: 0;
    }

}
@media only screen and (max-width:365px){
    .form p{
        float: none;
        margin-bottom: 20px;
    }
    /*.paginations a{*/
        /*font-size: 1.2rem;*/
        /*padding: 0 1px;*/
    /*}*/


}
@media only screen and (max-width:350px){
    /*.paginations a{*/
        /*font-size: 1rem;*/

    /*}*/
    .news-red img.img-red{
        display: none;
    }
    .news-red .news-content-red {
        width: 100%;
        float: none;
    }
}
@media only screen and (max-width:300px){
    .star-number{
        font-size: 4rem;
    }
    .star-name{
        font-size: 1.6rem;
        margin-top: 6px;
    }
    .star-radnicki-text{

        left: 10px;
        bottom: 0px;
    }
    .stars-radnickog{
        margin: 0 auto 20px;
    }
}
.news {
    margin-right: 0.5% !important;
    margin-left: 0.5% !important;
}
@media only screen and (max-width:1600px) and (min-width: 1200px){
    nav ul li a:link, nav ul li a:visited {
        margin-right: 1.2rem;
        font-size: 1rem;
    }
}